@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
/* Remove arrows from number input for Webkit browsers (Chrome, Safari, newer versions of Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from number input for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* Change 'white' to your desired background color */
  box-shadow: 0 0 0px 1000px white inset;

}



/* change default color to text-gray-900 */
html{
  @apply text-gray-900;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
