@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
/* Remove arrows from number input for Webkit browsers (Chrome, Safari, newer versions of Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from number input for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* Change 'white' to your desired background color */
  box-shadow: 0 0 0px 1000px white inset;

}



/* change default color to text-gray-900 */
html{
  @apply text-gray-900;
}



/* Add this CSS to your stylesheet */
.quill {
  border-radius: 8px;
}

/* The toolbar should match the border radius on top */
.quill .ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #ccc;
  border-bottom: none;
}

/* The editor content area should match the border radius on bottom */
.quill .ql-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Optional: Add a slight hover/focus state */
.quill:hover .ql-toolbar,
.quill:hover .ql-container {
  border-color: #b3b3b3;
}



.Toastify__toast-body {
  margin: 0;
  display: contents !important;
}


.campaign::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}


.sidebar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bdbdbd;
}


.noscrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE 10+ */
}


.noscrollbar::-webkit-scrollbar{
  scrollbar-width: none;
  display: none;
  
  
}

.campaign::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #8c8c8c;
}


.Toastify__toast-container {
  width: 100% !important; /* Set to your desired width */
  max-width: 400px !important;
}



.custom-date-range .rdrSelectedDate {
  background-color: #28a745 !important; /* Green */
  
}

.custom-date-range .rdrInRange {
  /* background-color: #E6F7FE !important;  */
  /* color: #0079AF !important; */
}

.custom-date-range .rdrStartEdge, .custom-date-range .rdrEndEdge {
  border-color: #28a745 !important; /* Green border */
}